// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./functions";
@import "./breakpoints";

.listing {
    &__image-container {
        height: 240px;
        overflow: hidden;
        padding-top: 53%;
        position: relative;
        width: 100%;
    }

    &__image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        flex-basis: 50%;
        flex: 1 0 auto;
        position: absolute;
        top: -60px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
    }

    &__card {
        width: 100%;
        margin-bottom: spacing(3);
    }

    &__info-container {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        margin-bottom: 0;
    }

    &__details {
        margin-left: spacing(3);
    }
}